.bar {
  padding: 1rem 1rem 0 1rem;
  background: var(--color);
  color: var(--color-bg);
  display: grid;
  grid-template-columns: 2fr 4fr 1fr;
  align-items: top;
  border-bottom: 0.2rem solid white;
}

.bar>* {
  margin-top: 0;
  padding-top: 0;
}

.close {
  color: var(--color-bg);
  text-decoration: underline;
}